#rainbowDatePicker {
  width: 170px;
  height: 39px;

  & > div > div > span {
    display: none;
  }
  
  #input-1 {  
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: 0;
    color: #1A1D22;
    font-weight: 500;
    font-size: 26px;
    line-height: 150%;

    &:focus {
      outline: none;
    }

      &::placeholder {
        color: #1A1D22;
        font-weight: 500;
        font-size: 26px;
        line-height: 150%;
      }
  }
}

#rainbowDatePicker_modal {
  font-family: Apple SD Gothic Neo;
  font-weight: normal;
  backdrop-filter: none;
  transition: none;
  background-color: #F7F7F7;

  @media (min-width: 640px) {
    align-items: flex-start;
    background: none;
  }
  
  & > section {
    background-color: #F7F7F7;
    box-shadow: none;
    animation: none;
    top: 0;

    @media (min-width: 640px) {
      left: -86px;
      top: 210px;
      border-radius: 16px;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    }

    #modal-content-5 {
      position: relative;
      padding: 0;

      & > header {
        position: absolute;
        height: 98px;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
        padding: 0;
        border-radius: 16px 16px 0 0;

        &::after {
          content: '여행일정 선택';
          position: absolute;
          top: 21px;
          left: 50%;
          margin-left: -46px;
          font-family: NanumSquareOTF;
          width: 92px;
          height: 16px;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 100%;
          text-align: center;
          color: #1A1D22;
        }

        & > h1 {
          display: none;
        }
      }

      #rainbowDatePicker_modal_calendar {
        margin-top: 58px;
        position: relative;
        padding: 0 16px 16px;

        & > div {
          width: calc(100% - 32px);
          flex-direction: row-reverse;
          position: absolute;
          top: 65px;

          & > div:nth-child(2) {
            margin-right: 80px;
          }

          & > div:nth-child(1) {
            margin: 0;

            h3 {
              font-family: NanumSquareOTF;
              font-style: normal;
              font-weight: bold;
              font-size: 20px;
              line-height: 100%;
              color: #333333;
            }
          }
        }

        & > table {
          thead {
            border-bottom: 90px solid #F7F7F7;

            & > tr > th > abbr {
              color: #96989C;
              font-weight: 500;
              font-size: 12px;
              line-height: 14px;
            }
          }
          tbody > tr > td > div {
            margin: 11px auto;

            & > button {
              font-size: 16px;
              line-height: 150%;

              &.bwnZhg {
                color: #565960;
              }

              &.bjBZRM {
                font-weight: 500;
              }

              &.bjBZRM::after {
                content: '오늘';
                width: 24px;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                color: #585AF1;
                font-family: Apple SD Gothic Neo;
                text-align: center;
                left: 6px;
                background: none;
              }
            }
          }
        }
      }
    }
  }
}